body {
    background: #69a8e3f5
}

.heading {
    text-align: center;
    font-weight: bold;


}

#location {
    color: white;
}

#temparature {
    text-align: center;
    font-weight: 250vw;
    font-size: 6vw;
    color: #FDB600
}

#current-temprature {
    margin-left: 0px;
}

#week {
    text-align: center;
    font-weight: 250vw;
    font-size: 6vw;
    background-color: #19A4E0;
    border-radius: 10px;
}

#week1 {

    background-color: #093649;
    border-radius: 10px;
    margin-right: 10%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
}


#sunset {
    background-image: url('./../assets/pexels-pixabay-36744\ \(1\).jpg');
    background-size: cover;
    background-position: center;
    min-height: 10vh;
}

.txt-white {
    color: white;
}

#forecast-card .table th,
#forecast-card .table td {
    background-color: transparent;
   
}

#forecast-card .table td {
    text-align: end;
}


#city-forecast .table th,
#city-forecast .table td {
    background-color: transparent;

}


#side-conrtainer {
    background-color: #50505042;
    box-shadow: 10px,0px,8px,8px, rgb(0, 0, 0);
}